.container {
  font-size: large;
  margin-left: 10px;
  padding: 8px 16px;
  outline: none;
  background: none;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;

  &.primary {
    border: 1px solid var(--border-color);
    color: var(--btn-color);
    box-shadow: -4px -4px 7px var(--shadow1), 4px 4px 7px var(--shadow2);
  }

  &.secondary {
    border: 1px solid var(--green);
    color: var(--btn-color);
    box-shadow: -4px -4px 7px var(--shadow1), 4px 4px 7px var(--shadow2);
  }

  .list{
    display: flex;
    flex-direction: column;
  }

}

